Hi from boot.html
<div class="container-fluid" >
	<div class="row">
		<!----header-->
		<div class="col-md-12" id="header">
			<div class="well well-lg well_darkgrey">
				<img src="/EduMS-client/images/ihrLogo.png" alt="Ihr Logo"> header - für Organisationen die keine eigene webseite haben - statischer inhalt
			</div>
		</div>
	</div>


	<!-- Definition sämtlicher DB-View-Controller -->
	<!--div class="row" ng-controller="courseCtrl"></div-->
	<!--div class="row" ng-controller="brandCtrl"></div-->
	<!--div class="row" ng-controller="brandLocationCtrl"></div-->
	<!--div class="row" ng-controller="brandTopicCtrl"></div-->
	<!--div class="row" ng-controller="brandLocationCtrl"></div-->
	<!--div class="row" ng-controller="eventCtrl"></div-->
	<!--div class="row" ng-controller="locationCtrl"></div-->
	
	<!--div class="row" ng-controller="statusEventCtrl"></div-->
	<!--div class="row" ng-controller="statusEventGuaranteeCtrl"></div-->
	<!--div class="row" ng-controller="statusTrainerCtrl"></div-->    
    <!--div class="row" ng-controller="trainerEventAssignmentCtrl"></div-->

		<div class="row" ng-controller="navCtrl">
			<!----content & sidebar-->
			<div class="col-md-8" id="container-content" >
				<div class="tabbable" id="tabs-sidebar">
					<ul class="nav nav-tabs well">

						<li class="active">
							<a href="#" data-toggle="tab" data-target="#panel-brand,#panel-brand-sidebar">
								<i class="fa fa-university"></i>
							</a>
						</li>

						<li ng-repeat="t in topics">
							<a href="#" data-toggle="tab" data-target="#panel-{{t.topic_name}},#panel-{{t.topic_name}}-sidebar">{{t.topic_name_raw}}</a>
						</li>
						<li class="pull-right">
							<a href="#" data-toggle="tab" data-target="#panel-sonstiges,#panel-sonstiges-sidebar">sonstiges</a>
						</li>
						<li class="pull-right">
							<a href="#" data-toggle="tab" data-target="#panel-standort,#panel-standort-sidebar"><i class="fa fa-location-arrow"></i> Standorte</a>
						</li>
						<li class="pull-right">
							<a href="#" data-toggle="tab" data-target="#panel-preis,#panel-preis-sidebar"><i class="fa fa-eur"></i> Preise</a>
						</li>
					</ul>


					<div class="tab-content">						
						<div ng-repeat="t in topics" class="tab-pane" id="panel-{{t.topic_name}}">
							<div class="col-md-12 well well-lg">
							<h2>{{t.topic_name_raw}}</h2>
								<div id="section{{t.topic_nr}}">
									<h4>{{t.topic_description}}</h4>
								</div>
								<nav class="navbar navbar-default">
									<div class="container-fluid">
										<div ng-repeat="ct in topiccourseCourse">
											<ul class="nav navbar-nav">
												<div ng-if="t.topic_id ==  ct.topic_id" >
													<h3> - {{ct.courseHeadline}} -<small>  {{ct.number_of_days}} Tage</small></h3>
													<div class="list-group-item-heading">
													
													</div>
													<li class="list-group-item">
													Name: {{ct.course_name }}</br>
													Beschreibung: {{ct.course_description }}
													C-ID: {{ct.topic_course_id }}
													C-Image: {{ct.courseImage }}
													 
													</li>
													<li class="list-group-item">Preis: {{ct.course_price}}</li>
												</div>
											</ul>
										</div>
									</div>
								</nav>
							</div>
						</div>
						
						<div class="tab-pane" id="panel-preis">
							<h2>Einzelpreise und Pakete</h2>
							<table class="table">
								<tbody>
									<tr ng-repeat="c in courses">
										<td><h3><button type="button" class="btn btn-info btn-lg">Nr({{$index +1}}) Name: {{c.course_name}}</button></h3></td><td><span class="label label-success ">Price: {{c.course_price}}</span></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="tab-pane" id="panel-standort">
							<p>Standortbeschreibung aus EduMS und dazugehörige Termine</p>
							<table class="table">
								<tbody>
									<tr ng-repeat="l in location">
										<td>- {{l.location_name}} </td><td> Description: {{l.location_description}}</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="tab-pane" id="panel-sonstiges">
							<div class="panel-group" id="panel-493447">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title collapsed" data-toggle="collapse"
											data-parent="#panel-497725" href="#panel-element-9675257"><span
											class="badge">1</span> SchulungsAGB</a>
									</div>
									<div id="panel-element-9675257" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="container-fluid">
												<div class="row">
													<agb></agb>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title collapsed" data-toggle="collapse"
											data-parent="#panel-493447" href="#panel-element-678923"><span
											class="badge">2</span> Datenschutzerklärung</a>
									</div>
									<div id="panel-element-678923" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="container-fluid">
												<div class="row">
													<datenschutzerklaerung></datenschutzerklaerung>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title collapsed" data-toggle="collapse"
											data-parent="#panel-493447" href="#panel-element-236342874"><span
											class="badge">3</span> Impressum</a>
									</div>
									<div id="panel-element-236342874"
										class="panel-collapse collapse">
										<div class="panel-body">
											<div class="container-fluid">
												<div class="row">
													<impressum></impressum>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div  ng-controller="organizationCtrl" class="col-md-12 well well-lg" id="container-footer">

						<h4> {{organization[0].address_line_1 }} {{organization[0].address_line_2 }} {{organization[0].city }}
							{{organization[0].contact_url }} {{organization[0].country }} {{organization[0].organization_id }}
							{{organization[0].organization_name }} {{organization[0].zip }} ~~~
							container-footer - statischer Inhalt (unabhängig vom Menüpunkt) der aus EduMS geladen wird</h4>
					</div>
				</div>
			</div>





			<div class="col-md-4 text-center" id="sidebar">
				<div>
					<a id="modal-1" href="#modal-container-1" role="button" class="btn btn-warning btn-block" data-toggle="modal">
						<button type="button" class="btn btn-warning btn-block">
							<i class="fa fa-arrow-circle-right"></i> Termine &amp; Anmeldung
						</button>
					</a>


					<div class="tabbable" id="tabs-sidebar">
						<div class="tab-content">							

							<div class="tab-pane active" id="panel-brand-sidebar" role="tabpanel">
								<h3 class="text-center">
									<i class="fa fa-calendar-check-o"></i> Aktuelle Termine
								</h3>
								<p>die nächsten 5 Kurse</p>
								<!-- Sidebar-Template in navCtrl: -->
								<right-bar-course-all ng-repeat="e in nextEvents|limitTo:5"></right-bar-course-all>

								<!--Sidebar-Template aus Bootstrapexample:  table class="table table-condensed">
									<tbody >

										
      									<table  ng-repeat="e in nextEvents"  width="100%">
        									<tr>				
        										<td width="80%" >
        											<hr>
        											<h3>{{e.course_name}} {{e.start_date}}</h3>
        										</td>
        										<td width="20%">													
													<span class="fa-stack"> 
														<i class="fa fa-circle fa-stack-2x"></i> 
														<i class="fa fa-info fa-stack-1x fa-inverse"></i>
													</span> 
													<span class="fa-stack"> 
														<i class="fa fa-circle fa-stack-2x"></i> 
														<i class="fa fa-cart-plus fa-stack-1x fa-inverse"></i>
													</span>
												</td>        										
											</tr>
											<tr>
												<td>
													<button type="button" class="btn btn-success btn-block">
														<span> Termingarantie: {{e.eventguaranteestatus}}</span>
												</td>
											</tr>
  										</table>

									
										<tr>
											<td>
												<button type="button"
													class="btn btn-succes btn-block btn-sucsess-outline">
													<i class="text-danger"><strong>nur noch 1 Platz</strong></i>
												</button>
											</td>
										</tr>

										<tr>
											<td>
												<button type="button" class="btn btn-danger btn-block">Warteliste</button>
											</td>
										</tr>
	
										<tr>
											<td>
												<button type="button" class="btn btn-succes btn-block btn-sucsess-outline">
													<i class="text-warning"><strong>nur noch 3 Plätze</strong></i>
											</td>
										</tr>
										<tr>
										<tr>
											<td>
												<button type="button" class="btn btn-primary btn-block">Termin</button>
											</td>
										</tr>
										<tr>
									</tbody>
								</table-->								
							</div>

							<div class="tab-pane" id="panel-preis-sidebar">
								<right-bar-course-all ng-repeat="e in nextEvents|limitTo:5"></right-bar-course-all>
							</div>
							<div class="tab-pane" id="panel-standort-sidebar">
								<right-bar-course-all ng-repeat="e in nextEvents|limitTo:5"></right-bar-course-all>
							</div>
							<div class="tab-pane" id="panel-sonstiges-sidebar">
								<right-bar-course-all ng-repeat="e in nextEvents|limitTo:5"></right-bar-course-all>
							</div>

							<div ng-repeat="tsb in topics"  class="tab-pane" id="panel-{{tsb.topic_name}}-sidebar" role="tabpanel">
								<right-bar-course-by-topic ng-repeat="sbc in tsb.sideBarCourses"></right-bar-course-by-topic>
							</div>				
						
					</div>
				</div>

				<div class="alert alert-info">
					<a class="text-danger" href="http://schema.org/EducationEvent"> WICHTIG	muss http://schema.org/EducationEvent unterstützen</a>
					(Alle Propertys in Info anzeigen?)
				</div>
			</div>
		</div>







		<div class="row" ng-controller="modalCtrl">
			<div class="col-md-12">
				<div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content ">


							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									× schließen
								</button>
								<h4 class="modal-title" id="myModalLabel">Termine</h4>
							</div>


							<div class="modal-body">
								<div>
									<button type="button" class="btn btn-success pull-right fa-1x">
										<i class="fa fa-arrow-circle-right"></i> Anmeldung
									</button>
								</div>

								<br></br>

								<form>
    								<div class="form-group">
	      								<div class="input-group">
	        								<div class="input-group-addon"><i class="fa fa-search"></i></div>
	        								<input type="text" class="form-control" placeholder="search in table" ng-model="eventsearch">
	      								</div>      
    								</div>
  								</form>

								<table class="table table-responsive table-hover table-striped" style="width: 98%;">
									<thead>
										<tr>
											<th>
												<i class="fa fa-cart-arrow-down fa-2x"></i>
											</th>
											<th>
												<a href="#">
										            Status 
										        </a>
											</th>
											<th>
												<a href="#" ng-click="sortType = 'start_date'; sortReverse = !sortReverse">
										            Von 
										            <span ng-show="sortType == 'start_date' && !sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="sortType == 'start_date' && sortReverse" class="fa fa-caret-up"></span>
										        </a>
											</th>
											<th>
												<a href="#" ng-click="sortType = 'finish_date'; sortReverse = !sortReverse">
										            Bis 
										            <span ng-show="sortType == 'finish_date' && !sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="sortType == 'finish_date' && sortReverse" class="fa fa-caret-up"></span>
										        </a>
											</th>
											<th>
												<a href="#" ng-click="sortType = 'course_name'; sortReverse = !sortReverse">
										            Schulungsname 
										            <span ng-show="sortType == 'course_name' && !sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="sortType == 'course_name' && sortReverse" class="fa fa-caret-up"></span>
										        </a>
											</th>
											<th>
												<a href="#" ng-click="sortType = 'maxParticipants'; sortReverse = !sortReverse">
										            MaxTeilnehmer 
										            <span ng-show="sortType == 'maxParticipants' && !sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="sortType == 'maxParticipants' && sortReverse" class="fa fa-caret-up"></span>
										        </a>
											</th>
											<th>
												<a href="#" ng-click="sortType = 'partOnEvent'; sortReverse = !sortReverse">
										            Reserviert 
										            <span ng-show="sortType == 'partOnEvent' && !sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="sortType == 'partOnEvent' && sortReverse" class="fa fa-caret-up"></span>
										        </a>
											</th>
											<th>
												<a href="#" ng-click="sortType = 'location_name'; sortReverse = !sortReverse">
										            Schulungsort 
										            <span ng-show="sortType == 'location_name' && !sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="sortType == 'location_name' && sortReverse" class="fa fa-caret-up"></span>
										        </a>
											</th>
											<th>
												<a href="#" ng-click="sortType = 'trainer_name'; sortReverse = !sortReverse">
										            Trainer** 
										            <span ng-show="sortType == 'trainer_name' && !sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="sortType == 'trainer_name' && sortReverse" class="fa fa-caret-up"></span>
										        </a>
											</th>
											<th>
												<a href="#" ng-click="sortType = 'course_price'; sortReverse = !sortReverse">
										            Preis* 
										            <span ng-show="sortType == 'course_price' && !sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="sortType == 'course_price' && sortReverse" class="fa fa-caret-up"></span>
										        </a>
											</th>
										</tr>
									</thead>
									<tbody>
										{{futureCourses.leftSeats[3861]}}
										<tr ng-repeat="fc in futureCourses | orderBy:sortType:sortReverse | filter:eventsearch">
											<td><i class="fa fa-square-o"></i></td>
											<td>
												<div ng-if="(fc.maxParticipants-fc.partOnEvent)<4&&(fc.maxParticipants-fc.partOnEvent)>(-1)">
													<button type="button" class="btn btn-danger btn-block">Noch {{fc.maxParticipants-fc.partOnEvent}} Plätze</button>
												</div>
												<div ng-if="(fc.maxParticipants-fc.partOnEvent)<0">
													<button type="button" class="btn btn-info btn-block">Noch {{fc.maxParticipants-fc.partOnEvent}} Plätze?</button>
												</div>
												<div ng-if="(fc.maxParticipants-fc.partOnEvent)>3">
													<button type="button" class="btn btn-success btn-block">Termingarantie</button>
												</div>															
											</td>
											<td>{{fc.start_date}}</td>
											<td>{{fc.finish_date}}</td>
											<td>{{fc.course_name}}</td>
											<td>{{fc.maxParticipants}}</td>
											<td>{{fc.partOnEvent}}</td>
											<td>{{fc.location_name}}</td>
											<td>{{fc.trainer_name}}</td>
											<td><span>{{fc.course_price | currency:"€ ":0}}</span></td>
										</tr>

										

									</tbody>
								</table>

								<p>*) Alle Preise verstehen sich zzl. 19% MwSt.</p>
								<p>**) Wir behalten uns vor, den Trainer auszutauschen</p>


								<div class="alert alert-info">
									<p>Liste aller zukünftigen Schulungstermine (<now()) - sortiert nach datum</p>
									<p>- vorgefilter</p>
									<p>-- nach Topic wenn von topic Seite kommend</p>
									<p>-- mit "nur Schulungen" = ohne prüfungtermine</p>
									<p>
										Beispiel wie unter <a
											href="https://www.mitsm.de/mitsm/termine-anmeldung">mITSM
											Termine und Anmeldung</a><br></br> <a class="text-danger fa-2x"
											href="http://schema.org/EducationEvent">WICHTIG muss
											http://schema.org/EducationEvent unterstützen</a>
									</p>
								</div>

							</div>


							<div class="modal-footer">

								<button type="button" class="btn btn-danger" data-dismiss="modal">
									schließen</button>
								<button type="button" class="btn btn-success">
									<i class="fa fa-arrow-circle-right"></i> Anmeldung
								</button>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="row">
			<!----external footer-->
			<div class="col-md-12" id="footer">
				<div class="well well-lg well_darkgrey">footer - statischer
					inhalt - für Organisationen die keine eigene webseite haben.</div>
			</div>

		</div>

	</div>
	</div>


